.App {
  text-align: center;
  margin: 0 auto;  
  padding-top: 35px;
  display: inline;  
  
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.message {
  background-color: #61DAFB;
  color: white;
  border: 1px solid #61DAFB;
  text-align: center;
  width: 200px;
  /* left: 50%; */
  top: 200px;
  display: inline-block;
  margin: 0 auto;
}

li span.delete-item {
  visibility: hidden;
}

li:hover span.delete-item {
  visibility: visible;
}

span.delete-item button {
  background: none;
  border: none;
  font-size: 1 em;
  font-weight: bold;
  text-decoration: none;
  color: red;
}